# Database
POSTGRES_USER=oppennec
POSTGRES_PASSWORD=your_password_here
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=botfarm

# App
APP_NAME=BotFarm
DEBUG=false
SQL_ECHO=false

# Lock settings
LOCK_DURATION_MINUTES=30